#dashboard
  nav#top
    ul
      li: h2 Global Parts International Inc.
      li#search
        input(type='search' placeholder='search')
      li#account
        a(href='#account') My Account
          img(src='/img/icons/ios7-person-outline.svg')
      li#accountsettings
        #loggedout.active
          input(type='text' placeholder='Username')
          input(type='password' placeholder='Password')
          button Submit

  main
    #leftside
      ul
        li.button
          img(src='/img/icons/wrench.svg')
          br
          a(href='#parts') Parts
        li.button
          img(src='/img/icons/ios7-albums-outline.svg')
          br
          a(href='#orders') Orders
        li.button
          img(src='/img/icons/ios7-infinite-outline.svg')
          br
          a(href='#support') Support

    #center
      #support
        #employee
          h2 Employee Support
          p
            | What are you doing?! You know your stuff!
        #client
        // add support documentation

    #rightside.inactive
      input(type='image' src='/img/icons/ios7-arrow-left.svg')#leftarrow
      input(type='image' src='/img/icons/ios7-arrow-right.svg')#rightarrow
