#landing
  header
    nav
      h1 Global Parts International Inc.
      ul
        li: a(href='#about') About
        li: a(href='#support') Support

  main
    #search
      h2 Find american car parts from 1945 - 1990
      br
      input(type='text' placeholder='Part / Car:   ID, Year, Make, Model')#searchInput
      button#searchButton Search
      br
      #hint
        p Search for ""
  
  footer
    p &#169; copyright 2014
