#landing
  header
    nav
      h1 Global Parts International Inc.
      ul
        li: a(href='#login') Login
        li: a(href='#signup') Sign up
        li: a(href='#support') Support

    #login
      input(type='text' placeholder='Username')
      input(type='password' placeholder='Password')
      button Submit

  main
    #search
      h2 Find american car parts from 1945 - 1990
      br
      input(type='text' placeholder='Part / Car:   ID, Year, Make, Model')
      button Search
  footer
    p &#169; copyright 2014
