#landing
  header
    nav
      h1 Global Parts International Inc.
      ul
        li: a(href='#login') Login
        li: a(href='#signup') Sign up
        li: a(href='#support') Support

    #login
      input(type='text' placeholder='Username')#loginUser
      input(type='password' placeholder='Password')#loginPass
      button(type='submit')#loginButton Submit

  form(method='post')#signupform
    h1 Sign up
    h4 All fields are required!

    ul
      li
        label(for='username') Username:
        input(type='text' name='username' placeholder='Example' required)#usernameForm
      li
        label(for='email') Email:
        input(type='email' name='email' placeholder='Example@domain.com' required)#emailForm
      li
        label(for='pass') Password:
        input(type='password' name='pass' placeholder='Password' required)#passwordForm
      li
        label(for='confirmpass') Confirm Password:
        input(type='password' name='confirmpass' placeholder='Confirm Password' required onChange='passwordCheck()')#confirmpasswordForm
      li:h3#passwordMatch

    ul#info
      li:h4 Shipping Info
      li
        label(for='phone') Phone #:
        input(type='tel' name='phone' placeholder='123-455-5555' required maxlength='12')#phoneForm
      li
        label(for='address') Address:
        input(type='text' name='address' placeholder='1234 Example Ln' required)#addressForm
      li
        label(for='city') City:
        input(type='text' name='city' placeholder='Example' required)#cityForm
      li
        label(for='state') State:
        input(type='text' name='state' placeholder='EX' required size='3' maxlength='2')#stateForm
      li
        label(for='zip') Zip:
        input(type='text' name='zip' placeholder='55555 (- 5555)' required min='5' maxlength='10')#zipForm

    button(type='submit' id='signupSubmit') Sign up!

  main
    #search
      h2 Find american car parts from 1945 - 1990
      br
      input(type='text' placeholder='Part / Car:   ID, Year, Make, Model')#searchInput
      button#searchButton Search
  footer
    p &#169; copyright 2014
