article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
}
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
p,
pre {
  margin: 1em 0;
}
blockquote {
  margin: 1em 40px;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, serif;
  _font-family: 'courier new', 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dl {
  padding: 0;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
:-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  height: 100%;
  font-family: 'Source Sans Pro' sans-serif;
  font-weight: 400;
}
html *,
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html h1,
body h1,
html h2,
body h2,
html h3,
body h3,
html h4,
body h4,
html h5,
body h5 {
  font-weight: 300;
}
body {
  background: url("/img/backgrounds/chevelle.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  -webkit-transition: background 1s fade;
  -moz-transition: background 1s fade;
  -o-transition: background 1s fade;
  -webkit-transition: background 1s fade;
  -moz-transition: background 1s fade;
  -o-transition: background 1s fade;
  -ms-transition: background 1s fade;
  transition: background 1s fade;
}
header {
  height: 20%;
  padding-top: 1em;
}
header nav #header {
  position: absolute;
  left: 5%;
}
header nav #header a {
  text-decoration: none;
  color: #333;
  border: 0;
}
header nav #header a:hover {
  color: #333;
  border: 0;
}
header nav ul {
  position: absolute;
  margin-top: 2.25em;
  right: 10%;
  list-style: none;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  margin: 0 0.5em 0.25em 0.5em;
  color: inherit;
  border: none;
  text-decoration: none;
  color: #0089fa;
  padding-bottom: 0.25em;
  border-bottom: 0.2em solid #c0c0c0;
}
header nav ul li a:hover {
  color: inherit;
  border: none;
  text-decoration: none;
}
header nav ul li a:visited {
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
header nav ul li a:hover {
  color: #0089fa;
  border-bottom: 0.2em solid #0089fa;
}
header nav ul li.active {
  border-bottom: 3px solid #eb5a4f;
}
main {
  height: 80%;
}
main #home #searchContainer {
  padding-top: 7.5%;
  text-align: center;
}
main #home #searchContainer h2 {
  display: inline-block;
  background-color: rgba(0,0,0,0.35);
  color: #fff;
  font-size: 2em;
  margin-left: -1em;
  margin-bottom: 0.25em;
  padding: 0.25em;
}
main #searchBar input {
  margin-left: -0.5em;
  width: 32em;
  height: 2em;
  outline: 0;
  border: 1px solid #fff;
  text-indent: 1em;
}
main #searchBar input:focus {
  border: 1px solid #47b7e6;
}
main #searchBar button {
  margin-left: -5px;
  border: 0;
  width: 5em;
  height: 2em;
  background-color: #eb5a4f;
  outline: 0;
  color: #fff;
}
main #searchBar button:active {
  background-color: #d52618;
  outline: 0;
}
main #searchBar button:visted {
  background-color: #eb5a4f;
  outline: 0;
}
main #hint {
  display: none;
  margin: 0;
  padding: 0;
  margin-left: -5.5em;
  width: 32em;
  text-align: left;
  list-style: none;
  border: 1px solid #808080;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  -o-box-shadow: 0;
  -ms-box-shadow: 0;
  box-shadow: 0;
}
main #hint p {
  height: 2em;
  background-color: #fff;
  border: 1px 0 0 5px solid #333;
  color: #808080;
  text-indent: 0.4em;
  padding: 0.5em;
  margin: 0;
}
main #hint.active {
  display: inline-block;
}
main #about,
main #support,
main #products {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #eee;
  padding: 5%;
  padding-top: 0;
}
main #about #header,
main #support #header,
main #products #header {
  font-size: 2em;
  margin-top: -0.85em;
}
main #about #content,
main #support #content,
main #products #content {
  margin-top: 1em;
  border-top: 2px solid #fff;
}
main #products #searchBar {
  position: relative;
  margin-top: -1em;
  margin-left: 0.5em;
}
main #products #manualSearch {
  display: none;
}
main #products #manualSearch select {
  width: 10em;
  border: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  -o-box-shadow: 0;
  -ms-box-shadow: 0;
  box-shadow: 0;
  outline: 0;
  color: #333;
  background-color: #fff;
}
main #products #manualSearch option:hover {
  color: #fff;
  background-color: #eb5a4f;
}
main #products #results {
  margin-top: 1em;
  border-top: 2px solid #fff;
}
main #spinner {
  margin-top: 15%;
  margin-left: 48%;
  height: 4em;
  width: 4em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  -o-border-radius: 4em;
  -ms-border-radius: 4em;
  border-radius: 4em;
  border: 0.25em solid #ccc;
  border-left-color: #47b7e6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  -ms-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
