article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
}
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
p,
pre {
  margin: 1em 0;
}
blockquote {
  margin: 1em 40px;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, serif;
  _font-family: 'courier new', 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dl {
  padding: 0;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
:-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  padding: 0;
  margin: 0;
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Source Sans Pro' sans-serif;
  font-weight: 400;
  background: url("/img/backgrounds/chevelle.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}
#landing a {
  color: inherit;
  border: none;
  text-decoration: none;
  color: #0089fa;
  border-bottom: 1px solid #0089fa;
}
#landing a:hover {
  color: inherit;
  border: none;
  text-decoration: none;
}
#landing a:visited {
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -o-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
#landing a:hover {
  color: #006dc7;
  border-bottom: 2px solid #005fad;
}
#landing header nav h1 {
  color: #333;
  position: absolute;
  top: 1.3em;
  left: 10%;
}
#landing header nav ul {
  position: absolute;
  top: 3.5em;
  right: 10%;
  list-style: none;
}
#landing header nav ul li {
  display: inline-block;
  margin-left: 1em;
}
#landing header nav ul .active {
  border-bottom: 3px solid #eb5a4f;
}
#landing form {
  display: none;
  position: absolute;
  top: 10%;
  left: 25%;
  width: 50%;
  height: 80%;
  z-index: 9999;
  background-color: #fff;
  border: 5px #eb5a4f solid;
  padding-left: 2em;
}
#landing form label {
  margin-left: 2em;
}
#landing form input {
  margin-left: 1em;
  text-indent: 0.5em;
}
#landing form ul {
  list-style: none;
  padding: 0;
}
#landing form li {
  padding-bottom: 0.5em;
}
#landing form button {
  margin-left: 60%;
  height: 2em;
  background-color: #eb5a4f;
  color: #fff;
  padding: 0.5em 1em 0.5em 1em;
  border: 0;
}
#landing #search {
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
}
#landing #search h2 {
  display: inline-block;
  background-color: rgba(0,0,0,0.35);
  color: #fff;
  font-size: 2em;
  margin-left: -1em;
  margin-bottom: 0.25em;
  padding: 0.25em;
}
#landing #search input {
  margin-left: -1.5em;
  width: 32em;
  height: 2em;
  outline: 0;
  border: 1px solid #fff;
  text-indent: 1em;
}
#landing #search input:focus {
  border: 1px solid #47b7e6;
}
#landing #search button {
  margin-left: -1em;
  border: 0;
  width: 5em;
  height: 2em;
  background-color: #eb5a4f;
  outline: 0;
  color: #fff;
}
#landing #search button:active {
  background-color: #d52618;
  outline: 0;
}
#landing #search button:visted {
  background-color: #eb5a4f;
  outline: 0;
}
#landing #search #hint {
  display: none;
  margin: 0;
  padding: 0;
  margin-left: -6.5em;
  width: 31.25em;
  text-align: left;
  list-style: none;
  border: 1px solid #808080;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  -o-box-shadow: 0;
  -ms-box-shadow: 0;
  box-shadow: 0;
}
#landing #search #hint p {
  height: 2em;
  background-color: #fff;
  border: 1px 0 0 5px solid #333;
  color: #808080;
  text-indent: 0.4em;
  padding: 0.5em;
  margin: 0;
}
#landing #search #hint.active {
  display: inline-block;
}
#landing footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
}
#landing footer p {
  margin-bottom: 0.25em;
}
