normalize()

red = #eb5a4f
blue = #47b7e6
dark-blue = #0089fa
white = #fff
grey = #333
light-grey = lighten(grey, 30)
black = #000

vendors = webkit moz o ms official

*
  padding 0
  margin 0
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

body
  font-family 'Source Sans Pro' sans-serif
  font-weight 400
  background url('/img/backgrounds/chevelle.jpg') no-repeat center center fixed
  background-size cover

h1, h2, h3, h4, h5
  font-weight 300


#landing
  a
    reset-link()
    color dark-blue
    border-bottom 1px solid dark-blue
  a:hover
    color darken(dark-blue, 10)
    border-bottom 2px solid darken(dark-blue, 15)
  header
    nav
      h1
        color grey
        position absolute
        top 1.3em
        left 10%
      ul
        position absolute
        top 3.5em
        right 10%
        list-style none
        li
          display inline-block
          margin-left 1em
        .active
          border-bottom 3px solid red


  form
    display none

    position absolute
    top 10%
    left 25%
    width 50%
    height 80%
    z-index 9999
    background-color white
    border 5px red solid
    padding-left 2em
    label
      margin-left 2em
    input
      margin-left 1em
      text-indent .5em
    ul
      list-style none
      padding 0
    li
      padding-bottom .5em

    button
      margin-left 60%
      height 2em
      background-color red
      color white
      padding .5em 1em .5em 1em
      border 0

  #search
    position absolute
    text-align center
    top 40%
    width 100%
    *
      box
    h2
      display inline-block
      background-color rgba(0, 0, 0, .35)
      color white
      font-size 2em
      margin-left -1em
      margin-bottom .25em
      padding .25em
    input
      margin-left -1.5em
      width 32em
      height 2em
      outline 0
      border 1px solid white
      text-indent 1em
    input:focus
      border 1px solid blue
    button
      margin-left -1em
      border 0
      width 5em
      height 2em
      background-color red
      outline 0
      color white
    button:active
      background-color darken(red, 15)
      outline 0
    button:visted
      background-color red
      outline 0
      

    #hint
      display none //inline-block
      margin 0
      padding 0
      margin-left -6.5em
      width 31.25em
      text-align left
      list-style none
      border 1px solid light-grey
      box-shadow 0
      p
        height 2em
        background-color white
        border 1px 0 0 5px solid grey
        color light-grey
        text-indent .4em
        padding .5em
        margin 0

    #hint.active
      display inline-block


  footer
    position absolute
    text-align center
    bottom 0
    width 100%
    p
      margin-bottom .25em
